html {
    height: 100vh;
    background: url('./background.jpg');
    background-size: cover;
}

body {
    height: 100vh;
    display: grid;
    grid-auto-flow: row;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header button {
    background-color: transparent;
    outline: none;
    border: none;

    color: antiquewhite;
    font-size: 15px;

    cursor: pointer;
}

.footer {
    align-self: center;
}

