html {
    height: 100vh;
    background: url('./background.jpg');
    background-size: cover;
}

#content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header button {
    background-color: transparent;
    outline: none;
    border: none;

    color: antiquewhite;
    font-size: 15px;

    cursor: pointer;
}

.main {
    font-size: 60px;
    align-self: center;
}

.footer {
    margin-top: auto;
    align-self: center;
}

